In [1]:
# Import dependencies
import pandas as pd
import csv
import os
import numpy as np
from datetime import datetime

In [2]:
# Reference to CSV and reading the hawaii_measurements CSV into Pandas DataFrame
csv_path1 = "Resources/hawaii_measurements.csv"
hawaii_measurements_df = pd.read_csv(csv_path1)
hawaii_measurements_df.head(10)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73
5  USC00519397  2010-01-07  0.06    70
6  USC00519397  2010-01-08  0.00    64
7  USC00519397  2010-01-09  0.00    68
8  USC00519397  2010-01-10  0.00    73
9  USC00519397  2010-01-11  0.01    64

In [3]:
hawaii_measurements_df.dtypes

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [5]:
# Replace all the NaN values with the value 0.00 for the column prcp
hawaii_measurements_df.prcp = hawaii_measurements_df.prcp.fillna(0.00)

AttributeError: 'DataFrame' object has no attribute 'datetime'

In [ ]:
# Save the clean measurement dataframe as CSV file
hawaii_measurements_df.to_csv("Dataclean/clean_Hawaii_measurements.csv", encoding="utf-8")

In [ ]:
# Reference to CSV and reading hawaii_stations CSV into Pandas DataFrame
csv_path2 = "Resources/hawaii_stations.csv"
hawaii_stations_df = pd.read_csv(csv_path2)
hawaii_stations_df.head(10)

In [ ]:
# Save the clean station dataframe as CSV file
hawaii_stations_df.to_csv("Dataclean/clean_Hawaii_stations.csv", encoding="utf-8")